
{% extends "aplicacion/base.html" %}
{% load static %}


{% block title %}contacto{% endblock %}

{% block contenido %}




   

    <div class="container mt-5">
        <h1 class="animated-header">Información de Contacto</h1>
        <p class="animated-paragraph">Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>

        <div class="contact-info">
            <div class="info-item">
                <h5 class="animated-item">Dirección</h5>
                <p>Av. Principal 123, Santiago, Chile</p>
            </div>
            <div class="info-item">
                <h5 class="animated-item">Teléfono</h5>
                <p>+56 2 1234 5678</p>
            </div>
            <div class="info-item">
                <h5 class="animated-item">Correo Electrónico</h5>
                <p>contacto@hotelesveranum.cl</p>
            </div>
        </div>
    </div>


    {% endblock %}